.footer {
  height: 10%;
  position: fixed;
  width: 100%;
  bottom: 0;
  align-items: center;
  background-color: #1976d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__autor{
	  font-style: italic;
  }
}
