.spinner {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  background: #000000b8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 6px solid grey;
    border-radius: 50%;
    border-top-color: #000000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}
