.member {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  padding-left: 5px;
  padding-top: 2px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px;
  }

  &__name {
    font-size: 19px;
  }

  &__info {
    font-size: 14px;
		font-style: italic;
		& span {
			margin-right: 5px;
		}
  }
}
